<div class="container">
  <h1>HELLO, {{ welcome_name }}!</h1>
  {% if user.is_authenticated %}
  <h3>Welcome, {{ request.user }}</h3>
  <a href="{% url 'logout_view' %}">Logout</a>
  {% else %}
  <a href="{% url 'login_view' %}">Login</a>
  {% endif %}
  <a href="addauthor/">Add Author</a>
  <a href="addrecipe/">Add Recipe</a>
  <h3>All Recipes</h3>
  <ul>
    {% for recipe in recipes %}
    <li>
      <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a> -
      <a href="/author/{{recipe.author.id}}/">{{recipe.author}}</a>
    </li>
    {%endfor%}
  </ul>
  {% for message in messages %} <br />
  <span style="color: red">{{ message }}</span> {% endfor %}
</div>
